@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DOSYA YÖNETİM PORTALINA HOŞGELDİN</h1>
    <p>Dosya Ekleme Düzenleme Yönetimi</p>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Photos/d4xeaef-2f85d88f-d426-4a53-9d71-400db3a98a3e.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Photos/klasör1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Photos/default-avatar-icon-of-social-media-user-vector.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
